@font-face {
  src: url(../fonts/Poppins/Poppins-Light.ttf);
  font-family: poppins-light;
}

@font-face {
  src: url(../fonts/Poppins/Poppins-Medium.ttf);
  font-family: poppins-medium;
}

@font-face {
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
  font-family: poppins-regular;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: poppins-regular, sans-serif;
}

:root {
  --img--cont-width: 30em;
  --p-info-width: 85%;
  --btn-padding: 0.75rem 1.25rem;
  --dark-blue: hsl(223, 47%, 23%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --bright-blue: hsl(245, 75%, 52%);
  --pale-blue: hsl(225, 100%, 94%);

  @media only screen and (max-width: 375px) {
    --p-info-width: 95%;
  }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  background-image: url(../images/pattern-background-desktop.svg);
}

.container {
  width: var(--img--cont-width);
  min-height: fit-content;
  display: flex;
  flex-flow: column nowrap;
  /* border: 0.1em solid #000000; */
  background-color: #ffffff;
  border-radius: 1.25em;
  overflow: hidden;
  margin: 5em 0;
}

.container p {
  font-size: 1rem;
}

.hero-img {
  width: var(--img--cont-width);
  border-radius: 1.25em 1.25em 0 0;
}

.titles-par {
  display: flex;
  flex-flow: column nowrap;
}

.title {
  font-family: poppins-medium;
  align-self: center;
  margin: 1.25em 0 0.35em 0;
  font-size: 1.75rem;
}

.info {
  font-family: poppins-light;
  align-self: center;
  text-align: center;
  font-size: 2vh;
  width: var(--p-info-width);
}

.plan {
  align-self: center;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: var(--p-info-width);
  height: 5rem;
  margin: 2.5em 0;
  /* font-family: poppins-regular; */
  font-family: sans-serif;
  background-color: var(--very-pale-blue);
  border-radius: 1em;
  padding: 3.25em 1.25em;
}

.plan > a {
  margin-left: auto;
  margin-right: 0.5em;
  font-size: 1rem;
  font-weight: 900;
  color: var(--bright-blue);
  transition-property: opacity !important;
  transition: 0.2s;
  opacity: 1;
}

.plan > a:hover {
  opacity: 0.9;
}

.plan-info {
  margin: 0 1em;
}

.plan-info > h1 {
  font-weight: 900;
  font-size: 1.05rem;
}

.plan-info > h3 {
  color: #a7a8a2;
  letter-spacing: 0.025em;
  font-size: 0.9rem;
}

.confirmations {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.confirmations button {
  width: var(--p-info-width);
  padding: var(--btn-padding);
  background-color: var(--bright-blue);
  border: transparent;
  border-radius: 0.75em;
  font-size: 1rem;
  color: #ffffff;
  transition-property: opacity !important;
  transition: 0.2s;
  opacity: 1;
  cursor: pointer;
  margin: 0 0 1.5em 0;
}

.confirmations button:hover {
  opacity: 0.9;
  background-color: var(--bright-blue);
  box-shadow: 0px 0px 1em -0.3em rgba(56, 41, 224, 0.69);
  -webkit-box-shadow: 0px 0px 1em -0.3em rgba(56, 41, 224, 0.69);
  -moz-box-shadow: 0px 0px 1em -0.3em rgba(56, 41, 224, 0.69);
}

.confirmations .cancel-order {
  background-color: inherit;
  padding: var(--btn-padding);
  text-decoration: none;
  color: var(--dark-blue);
  font-size: 1rem;
  margin: 0 0 2em 0;
  transition: 0.2s color;
}

.confirmations .cancel-order:hover {
  color: var(--desaturated-blue);
}

@media only screen and (max-width: 425px) {
  .container {
    width: 90%;
    margin: 5em auto;
    height: fit-content;
  }

  .hero-img {
    width: 100%;
  }
}
